@tailwind base;
@tailwind components;
@tailwind utilities;

._h-screen-safe {
    min-height: 100vh;
}

@supports (-webkit-touch-callout: none) {
    ._fix-height-safe-area {
        /* for ios safari 15, safe-area-inset-bottom is 0, so a special fix apply here */
        min-height: -webkit-fill-available;
    }

    ._h-screen-safe {
        min-height: -webkit-fill-available;
    }
}
