@tailwind base;
@tailwind components;
@tailwind utilities;

._h-screen-safe {
    min-height: 100vh;
}

/**
Handling the iOS bug where the container set to 100vh is taking too much space, causing unneeded scrolling.
This @supports rule detects if the browser supports the -webkit-touch-callout property, which is only supported by iOS devices.
*/
@supports (-webkit-touch-callout: none) {
    ._fix-height-safe-area {
        min-height: -webkit-fill-available;
    }

    ._h-screen-safe {
        min-height: -webkit-fill-available;
    }
}
