.navbar {
    overflow: hidden;
    background-color: #333;
    margin: 0px auto;
    max-width: 960px;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-text {
    display: inline-block;
    font-size: 16px;
    color: white;
    text-align: center;
    text-decoration: none;
}

.navbar input {
    width: 70px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

canvas {
    background: #a594941c !important;
}

.save-btn {
    margin-left: 0px;
    background: #af2e2ed1;
    color: #efe5e5;
    border: none;
    height: 32px;
    cursor: pointer;
}

.save-btn:hover {
    background: #af2e2e;
}

.save-btn:active {
    background: #f13a3a;
    outline: none;
}

.save-btn:focus {
    outline: none;
}

#cover {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#cover.hide {
    display: none;
}

.pop-up-line {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}

.animate-character {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
    background-size: auto auto;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    position: fixed;
    z-index: 1000;
    top: 0;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}
